* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-weight: 500;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: black;
  color: #bdbdbd;
}

.PaentNav {
  padding: 1vw 5vw;
}

.navbar {
  display: grid;
  grid-template-areas:
    "LOGO NAV NAV NAV  HAMBURGER"
    "LOGO SERVICE SERVICE GETINTOUCH GETINTOUCH";
  overflow: hidden;
  padding: 0 8vw;
}

.div1 {
  padding: 3vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  grid-area: LOGO;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  border: 1px solid rgb(92, 90, 90);
  border-right: 0;
  border-bottom-left-radius: 20px;
  border-start-start-radius: 20px;
}
.div1>span{
  font-size: 2vw;
}

.div1 img {
  object-fit: cover;
  object-position: center;
  width: 2.6vw;

}

.div2 {
  border: 1px solid rgb(92, 90, 90);
  grid-area: NAV;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}

.div3 {
  border-top: 1px solid rgb(92, 90, 90);
  border-right: 1px solid rgb(92, 90, 90);
  border-top-right-radius: 20px;
  grid-area: HAMBURGER;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1vw;
}

.div4 {
  grid-area: SERVICE;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5vw 0;
  border-bottom: 1px solid rgb(92, 90, 90);
  border-left: 1px solid rgb(92, 90, 90);
}

.div5 {
  grid-area: GETINTOUCH;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(92, 90, 90);
  border-left: 1px solid rgb(92, 90, 90);
  border-top: 1px solid rgb(92, 90, 90);
  border-right: 1px solid rgb(92, 90, 90);
  border-bottom-right-radius: 20px;
}

.section {
  margin-top: 3vw;
}

.section h1 {
  color: white;
  text-align: center;
  font-size: 10vw;
  line-height: 1;
}

.section .imgGrid {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 20px;
  background: black;
  padding: 30px;
}
.imgGrid div {
  border-radius: 100px;
  background-image: url("src/assets/bgimage.png");
  background-size: 1000% 100%;
  background-repeat: no-repeat;
}

#div1 {
  background-position: 0% 0;
}
#div2 {
  background-position: 11.1% 0;
}
#div3 {
  background-position: 22.2% 0;
}
#div4 {
  background-position: 33.3% 0;
}
#div5 {
  background-position: 44.4% 0;
}
#div6 {
  background-position: 55.5% 0;
}
#div7 {
  background-position: 66.6% 0;
}
#div8 {
  background-position: 77.7% 0;
}
#div9 {
  background-position: 88.8% 0;
}
#div10 {
  background-position: 100% 0;
}
.div4 .contact-Pages{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 2vw;
  padding: 0 2vw;
}
.customer-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8vw;
}
.text-container {
  display: flex;
  align-items: center;
  margin-top: 15vw;
}
.text-container p {
  font-size: 2.4vw;
  line-height: 1;
  color: white;
  margin-right: 5vw;
}
.customer-logo > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.6vw;
}
.ourservices {
  margin-top: 8vw;
}


.button-class button {
  background-color: transparent;
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}
.button-class span {
  font-size: 1.8vw;
}
.button-class img {
  background: black;
}
.services-row {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  margin-top: 5vw;
  color: white;
}
.semi-circle {
  display: flex;
  align-items: center;
  gap: 2vw;
}
.services-row > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(54, 51, 51);
  padding-bottom: 1.9vw;
}
.section2{
  margin-top: 10vw;
margin-left: auto;
margin-right: auto;
}
.work-showcase {
  display: grid;
  grid-template-areas:
    "a a  b b"
    "c c  d d ";
    gap:3vw;
    margin-top: 2vw;
}
.work-showcase>div{
  height: 40vw;
  width: 40vw;
  border-radius: 2vw;
  overflow: hidden;
  border: 1px solid rgb(102, 100, 100);
}
.work-showcase>div h1{
  display: flex;
  justify-content: flex-start;
  margin-left: 3vw;
  margin-top: 2.2vw;
  color: white;
}
#w-1{
  grid-area: a;
}
#w-2{
  grid-area: b;
}
#w-3{
  grid-area: c;
}
#w-4{
  grid-area: d;
}
.img-div{
  width: 100%;
  height: 80%;
}
.img-div img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.Our-Team{
  margin-top: 6vw;
}
.team-memebers{
  display: flex;
  margin-top: 5vw;
  flex-wrap: wrap;
  gap:2vw;
  margin-bottom: 2vw;
}
.team-memebers .text{
  font-size: 2.7vw;
  width: 50%;
  color: white;
}
.team-mate-details{
  border: 1px solid rgb(104, 101, 101);
  border-radius: 20px;
  overflow: hidden;
}
.team-mate-details>img{
  object-fit: cover;
  object-position: center;
}
.team-mate-details .team-details{
  padding: 1.6vw;
}
.team-mate-details .team-details h4{
  color: white;
  font-size: 1.3vw;
}
.wide-button button{
  display: flex;
  justify-content:center;
  align-items: center;
  color: white;
  background-color: transparent;
  border: 1px solid rgb(82, 77, 77);
  font-size: 1.3vw;
  gap: 0.6vw;
  width: 100%;
  padding: 1vw 0;
  border-radius: 2vw;
}
.Section3{
  margin-top: 10vw;
    background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("src/assets/bgimage.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5vw;
  border-radius: 20px;
  color: white;
  margin-bottom: 5vw;
}
.Section3 h1{
  font-size: 7vw;
  line-height: 1;
}
.Section3 p{
  margin-top: 2.6vw;
 width:53%;
 text-align: center;
 line-height: 1.6;
 font-size: 1.4vw;
}
.Section3 button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6vw;
  padding: 1vw 2vw;
  border-radius: 35px;
  border: none;
  background-color: white;
  font-size: 1.2vw;
  margin-top: 2vw;
}
